---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<section class="card">
		<h1 class="title">/about</h1>
		<p>Working on lagon.app</p>
		<p>Frontend developer Scaleway</p>
		<p>Interested in Cloud, Serverless and Edge </p>
		<p>Open-source maintainer and contributor</p>
	</section>
</MainLayout>
