---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="container">
		<h1 class="title">tom<br />lienard</h1>
		<h2 class="subtitle">crafting interfaces with cool tech</h2>
	</div>
</MainLayout>
