---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<section class="card">
		<h1 class="title">/projects</h1>
		<p>These are my current projects:</p>
		<p><a href="https://github.com/lagonapp/lagon" target="_blank">Lagon</a> Serverless JavaScript Runtime in Rust</p>
		<p><a href="https://github.com/QuiiBz/next-international" target="_blank">next-international</a> Type-safe internationalization (i18n) for Next.js</p>
	</section>
</MainLayout>
