---
import MainHead from "../components/MainHead.astro";

const { pathname } = Astro.url

const getLinkStyle = (url: string) => {
	return `link${url === pathname ? ' active' : ''}`
}
---

<html lang="en">
	<head>
		<MainHead title="" description="" />
	</head>
	<body>
		<div class="noise" />
		<section class="bordered-section">
			<slot />
		</section>
		<nav class="bottom-nav">
			<a class={getLinkStyle('/')} href="/">/home</a>
			<a class={getLinkStyle('/about')} href="/about">/about</a>
			<a class={getLinkStyle('/projects')} href="/projects">/projects</a>
		</nav>
	</body>
</html>
